body{
  background-color: black;
  color: black
}
#output1,#output2,#Chap,#mean,#num{
  width: 60%;
  background-color: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 5px;
  
} 
#mean,#num{
  width: 100%;
}
.container{
  display: flex;
  flex-direction: column;

  
  justify-content: center;
  align-content: center;
}
.box1,.box2,.title{
  background-color:brown;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  
}
.title{
  text-align: center;
}
